@media (max-width: 1200px) {
    .container {
        max-width: 800px;
    }

    .promo {
        &__header {
            font-size: 36px;
        }
        &__wrapper {
            margin-top: 70px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            margin-top: 40px;
        }
        &__link {
            font-size: 15px;
        }
    }

    .button_main {
        margin-top: 35px;
        width: 260px;
        height: 45px;
        font-size: 14px;
    }

    .advantages {
        &__wrapper {
            margin-top: 45px;
        }
        &__item {
            max-width: 200px;
        }
    }

    .title {
        &_left {
            font-size: 30px;
        }
    }
}
