@media (max-width: 1024px) {
    .container {
        max-width: 600px;
    }

    .promo {
        min-height: 600px;
        .header {
            &__logo {
                width: 200px;
            }
            &__official {
                font-size: 10px;
                span {
                    font-size: 16px;
                }
            }
            &__phone {
                font-size: 16px;
            }
            .button {
                width: 140px;
                height: 25px;
            }
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__icons {
            margin-top: 50px;
            width: 413px;
        }
        .button {
            &_main {
                margin-top: 55px;
                width: 260px;
                height: 45px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
}
